
body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat"
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #EEEEEE;
}

/*
.big-heading:hover {
  color: #AAD8D3;
}
*/
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #393E46;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 0%;
  position: relative;
}

/* Title Image */

.title-image {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;

}
 .intro {
   padding-bottom: 10%;
 }

/* Features Section */

#features {
  background-color: #EEEEEE;
  position: relative;
  z-index: 0;
}

.feature-title {
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #00ADB5;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #64DFDF
}

/* tools section */

#tools {
  background-color: #AAD8D3;
  color: #393E46;
}

#tools-carousel .feature-box {
  padding: 5%;
}

.tools-heading {
  font-size: 2.3rem;
  position: relative;
  top: 60px;
  color: #393E46;
}

.tools-body {
  font-size: 1.3rem;
  line-height: 3rem;
  font-weight: 500;
  padding: 0 20% 0 20%;
  position: relative;
  top: 90px
}

.tool-pic {
  width: 50%;
  padding: 5%;
}

.tool-title {
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
}


/* project Seciton */

#projects {
  background-color: #393E46;
  color: #fff;
}

.snake-pic {
  width: 50%;
  margin: 20px;
}

.iss-pic {
  width: 60%;
  margin: 20px;
}

.project-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.project-heading {
  padding: 5% 0 5%;
}

.heading-text {
  padding: 0 20% 0 20%;
  line-height: 3rem;
}

.project-body {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  padding: 0 10% 0 10%;
}

#press {
  background-color: #393E46;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.pricing-cloumn {
  padding: 3% 2%
}

/* CTA Section */

#cta {
  background-color: #393E46;
  color: white;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Footer Section*/

#footer {
}

.social-icon {
  margin: 20px 10px
}

/* Media Query */
@media (min-width: 1191px) {
  .title-image {
    right: 20%;
  }
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
  }

  .tool-pic {
    width: 35%;
  }

  .tools-body {
    position: relative;
    top: 0px;
  }

  .tools-heading {
    position: relative;
    top: 0;
    padding-top: 10%;
  }
}
